.navbar {
  padding: $p-2;
  background-color: white;

  &__lists {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding: 0;
  }

  &__list {
    list-style: none;
    font-size: $fz-30;
  }
}